
/*-------- Labels ---------*/

.big-label {
  @include font-base();
  display: block;
  color: #232323;
  font-size: 1.6rem;
  margin-bottom: .5rem;
  font-style: italic;
  text-rendering: geometricPrecision;
}

// Remove tap highlight on iOS
input,
textarea,
button,
select,
label,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


/*-------- Inputs ---------*/
input[type=text], input[type=number], textarea {
  @include font-header();
  background: transparent;
  border-width: 0;
  border-bottom: 2px solid $turquoise;
  font-size: 1rem;
  padding: .5rem;
  text-align: center;

  &:focus {
    outline: 0;
  }
}

textarea {
  background: white;
}

.input-group {
  list-style: none;
  margin: 1rem auto;
  max-width: 400px;

  label {
    display: block;
    font-size: .8rem;
    padding-left: .5rem;
    text-align: left;
  }

  input, textarea {
    text-align: left;
    width: 100%;
  }

  ::placeholder {
    font-size: .9rem;
  }

  &.textarea {
    label {
      margin-bottom: .5rem;
    }
  }
}


/*-------- Nice radio buttons ---------*/

input[type=radio] {
  display: none;
}

label.circle {
  @include font-header();
  display: inline-block;
  margin: 0 1.5rem;
  font-style: normal;
  text-transform: uppercase;

  .selected {
    border: 1px solid #999;
    border-radius: 50% 50% 50% 50%;
    display: inline-block;
    margin-bottom: -6px;
    margin-right: 10px;
    padding: 10px;
  }
}

input[type="radio"]:checked + label.circle {
  opacity: 1;
}

input[type="radio"]:checked + label.circle .selected {
  background: $turquoise;
}


/*-------- Validations ---------*/
input[type=text], input[type=number], textarea {
  &.ng-valid.ng-touched {
    background: lightgreen;
  }

  &.ng-invalid.ng-touched {
    background: indianred;
  }
}
