/*-------- Color Variables ---------*/

$dark-grey: #232323;
$medium-grey: #757575;
$mid-grey: #909090;
$light-grey: #f7f6f5;
$dark-blue: #1b2a32;
$light-blue: #88a4b4;
$orange: #ff9600;
$green: #bdd7cc;

$content-max-width: 52rem;


/*-------- Base ---------*/

html, body {
  height: 100%;
  width: 100%;
}

html {
  background: $light-grey;
  box-sizing: border-box;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*-------- General Layout ---------*/

.layout-1, .layout-2 {
  display: flex;
  flex-direction: column;
}

.layout-2 {
  @media (min-width: 768px) {
    flex-direction: row;

    > * {
      flex: 1;
    }
  }
}

.inner {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.full {
  width: 100%;
  text-align: center;
}

main {
  background-color: #f7f6f5;
  height: 100%;
}

article {
  padding: 2rem;
  background: transparent url('../images/grunge-white-top.jpg') left -30px no-repeat;
  max-width: $content-max-width;
  margin-left: auto;
  margin-right: auto;

  > img {
    margin: 1rem auto;
    text-align: center;
    max-width: 100%;
  }
}