/*-------- Color Variables ---------*/

$dark-grey: #232323;
$medium-grey: #757575;
$mid-grey: #909090;
$light-grey: #f7f6f5;
$dark-blue: #1b2a32;
$light-blue: #88a4b4;
$orange: #ff9600;
$green: #bdd7cc;

$content-max-width: 56rem;


/*-------- Base ---------*/

html, body {
  height: 100%;
  width: 100%;
}

html {
  background: $light-grey;
  box-sizing: border-box;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

main {
  background-color: #f7f6f5;
  height: 100%;
}

.content {
  padding: 2rem;
  background: transparent url('../images/grunge-white-top.jpg') left -30px no-repeat;
  max-width: $content-max-width;
  margin-left: auto;
  margin-right: auto;
}