/*-------- Typography ---------*/
h1 {
  color: #536c75;
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h2 {
  color: #7a7a7a;
  font-family: 'Droid Serif', Times, serif;
  font-size: 1.2rem;
  font-style: italic;
}
