@import "base";

/*-------- Typography ---------*/

@mixin font-header() {
  font-family: Montserrat, sans-serif;
}

@mixin font-base() {
  font-family: 'Droid Serif', Times, serif;
}

h1 {
  @include font-header();
  color: #536c75;
  font-size: 2rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h2 {
  @include font-base();
  color: #7a7a7a;
  font-size: 1.2rem;
  font-style: italic;
}

h3 {
  @include font-base();
  color: #7a7a7a;
  font-size: .8rem;
  font-style: italic;
  font-weight: 400;
}

article p {
  @include font-base();
  color: #757575;
  font-size: 1.2rem;
  line-height: 2.4rem;
  margin-bottom: 2rem;

  &:first-of-type{
    &::first-letter {
      font-size: 6rem;
      color: $light-blue;
    }
  }
}

aside p {
  @include font-base();
}

main {
  padding: 1rem;
}
