env:
    node: true
    browser: true
    es6: true

ecmaFeatures:
    modules: true

globals:
    '$window': true

rules:
    no-alert: 1
    no-unused-vars: [1, {vars: "all", args: "after-used"}]
    no-regex-spaces: 1  // allow multiple spaces in a regular expression literal
    no-multi-spaces: 0  // allow use of multiple spaces
    no-new: 1
    quotes: 0
    no-shadow: 1
