@keyframes animateForm {
	from { background-color: transparent; }
	to { background-color: rgba(0, 0, 0, .5); }
}

main.home {
  .age-and-gender-form {
    padding: 20px;

    > * {
      margin-bottom: 5rem;
    }
  }

  .your-gender > div {
    min-width: 19rem;
  }

  .inner {
    
    margin: 0 auto;
    padding: 12px;
    /* animation: animateForm 400ms 200ms 1 ease-in-out forwards; */
  }
}
