main.home {
  background: transparent url('../images/bg-mobile.jpg') center center no-repeat;
  background-size: cover;

	@media(min-width: 768px) {
	  background-image: url('../images/bg-web.jpg');
	}

	.take-a-journey {
		font-weight: 200;
		margin-bottom: .4rem;
	}

  .age-and-gender-form {
    padding: 20px;
  }

  .your-age {
    input {
      width: 6rem;
    }
		margin-bottom: 2rem;
  }

  .your-gender {
		.big-label {
			margin-bottom: 1rem;
		}
  }

	.button {
		margin-top: 2rem;
	}
}
