#home {
  background: transparent url('../assets/images/bg-mobile.jpg') center center no-repeat;
  background-size: cover;
  padding: 1rem;
  position: relative;

  @media(min-width: 768px) {
    background-image: url('../assets/images/bg-web.jpg');
  }

  .age-form {
    font-size: 1em;
    left: 50%;
    position: absolute;
    top: 33%;
    transform: translateX(-50%);
    transition: all 200ms ease-in;
    width: 100%;

    &.ng-leave,
    &.ng-leave-active { opacity: 0; }

    .take-a-journey {
      font-size: .8em;
      font-weight: 200;
      margin-bottom: .4em;
    }

    .your-age {
      margin-bottom: 2em;

      input {
        width: 6em;
      }
    }

    @media ( min-device-width: 321px ) and ( max-device-width: 375px ) {
      font-size: 1.1rem;
    }

    @media ( min-device-width: 376px ) and ( max-device-width: 414px ) {
      font-size: 1.2rem;
    }

    @media ( min-device-width: 415px ) {
      font-size: 1.3rem;
    }
  }


  .search-in-progress {
    font-size: 1.1rem;
    line-height: 1.3;
    left: 50%;
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    top: -60px;
    transform: translateX(-50%);
    width: 220px;

    &.ng-enter-active, &.ng-leave-active {
      transition: all 300ms 500ms ease-in;
    }

    &.ng-enter-active { opacity: 1; }
    &.ng-leave-active { opacity: 0; }
  }
}
