#home {
  background: transparent url('../images/bg-mobile.jpg') center center no-repeat;
  background-size: cover;
  padding: 1rem;

  @media(min-width: 768px) {
    background-image: url('../images/bg-web.jpg');
  }

  .take-a-journey {
    font-weight: 200;
    margin-bottom: .4rem;
  }

  .age-and-sex-form {
    padding: 20px;

    &.ng-leave { transition: all 200ms ease-in; }
    &.ng-leave { opacity: 0; }
    &.ng-leave-active { opacity: 0; }
  }

  .your-age {
    input {
      width: 6rem;
    }
    margin-bottom: 2rem;
  }

  .your-sex {
    .big-label {
      margin-bottom: 1rem;
    }
  }

  .progress-button {
    margin-top: 4rem;
  }

  .search-in-progress {
    font-size: 1.1rem;
    line-height: 1.3;
    left: 50%;
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    top: 20%;
    transform: translateX(-50%);
    width: 60%;

    &.ng-enter-active {
      opacity: 1;
      transform: translateX(-50%) translateY(100%);
      transition: all 500ms ease-in;
    }

    &.ng-leave-active {
      opacity: 0;
      transform: translateX(-50%) translateY(-100%);
      transition: all 500ms 200ms ease-in;
    }
  }
}
