$dark-grey:   #232323;
$medium-grey: #757575;
$mid-grey:    #909090;
$light-grey:  #f7f6f5;
$dark-blue:   #1b2a32;
$light-blue:  #88a4b4;
$turquoise:   #9ACCB5;
$orange:      #ff9600;
$green:       #bdd7cc;

$layout-s: 600px;
$layout-m: 960px;
$layout-l: 1280px;
$layout-xl: 1920px;

$page-max-width: $layout-l;
$content-max-width: $layout-m;
