@import "vars";
@import "base";
@import "styleguide";
@import "components/buttons";
@import "components/progressButton";
@import "components/forms";
@import "components/odometer";

@import "sections/home";
@import "sections/header";
@import "sections/journey";

/*-------- Browser Deprecation Warning --------*/

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
