@import "vars";
@import "base";
@import "styleguide";
@import "components/buttons";
@import "components/progressButton";
@import "components/forms";
@import "components/odometer";

@import "sections/home";
@import "sections/header";
@import "sections/journey";


/*-------- Browser Deprecation Warning --------*/
.browserupgrade {
  background: burlywood;
  color: #000;
  margin: 0 0 1rem;
  padding: 1rem;
  text-align: center;
}
