<section id="add-profile">
    <header>
        <img ui-sref="home" src="images/walk-with-me-logo.png" alt="Walk With Me: Berlin" title="Walk With Me: Berlin" width="230"/>
    </header>

    <h2>Add A Profile</h2>

    <form name="form" autocomplete="off" novalidate>
        <ul>
            <li class="photo input-group">

                <button type="file"
                        ng-show="form.file.$invalid"
                        ngf-select="vm.uploadPhoto($file)"
                        ng-model="vm.photo"
                        name="file"
                        accept="image/*"
                        ngf-max-size="20MB"
                        required>
                        Take or Select Photo
                </button>

                <img    ng-show="vm.photo.result" ngf-thumbnail="vm.photo" class="thumb">
                <button ng-show="vm.photo.result" ng-click="vm.photo = null">Remove</button>
                <div    ng-show="vm.photo.progress >= 0 && !vm.photo.result" class="progress" style="width:{{vm.photo.progress}}%">
                    <span ng-hide="vm.photo.showSpinner" ng-bind="vm.photo.progress + '%'"></span>
                    <img ng-show="vm.photo.showSpinner" src="images/spinner.svg" alt="loading indicator" height="24" />
                </div>
                <div    ng-show="vm.errorMsg" class="error-message" ng-bind="vm.errorMsg"></div>
                <div    ng-show="form.file.$error.maxSize" class="error-message">This photo is too large. Photo size can be maxium 20MB.</div>
            </li>

            <li class="sex input-group">
                <label for="sex">Sex</label>

                <input id="male"   name="sex" type="radio" value="male" ng-model="vm.refugee.sex" required>
                <label class="radio circle" for="male"><span class="selected"></span> Male</label>

                <input id="female" name="sex" type="radio" value="female" ng-model="vm.refugee.sex" required>
                <label class="radio circle" for="female"><span class="selected"></span> Female</label>

                <div ng-if="form.sex.$touched && form.sex.$invalid" ng-messages='form.sex.$error' class='error-messages'>
                    <span ng-message='required' class="error-msg">What's the person's gender?</span>
                </div>
            </li>

            <li class="name input-group">
                <label for="name">Name</label>
                <input id="name" type="text" name="name" ng-model="vm.refugee.name" placeholder="Zahira Musterfrau" required autocomplete="off" />
                <img src="images/icons/checkmark.svg" ng-if="form.name.$valid" class="icon checkmark" alt="Checkmark Icon" />
                <img src="images/icons/error.svg" ng-if="form.name.$touched && form.name.$invalid" class="icon error" alt="Error Icon" />
                <div ng-if="form.name.$touched && form.name.$invalid" ng-messages='form.name.$error' class='error-messages'>
                    <span ng-message='required' class="error-msg">What's the person's name?</span>
                </div>
            </li>

            <li class="age input-group">
                <label for="age">Age</label>
                <input id="age" name="age" type="number" ng-model="vm.refugee.age" pattern="\d*" placeholder="27" required maxlength="3" autocomplete="off" />  <!-- pattern="\d*" makes use of the number keyboard on iOS -->
                <img src="images/icons/checkmark.svg" ng-if="form.age.$valid" class="icon checkmark" alt="Checkmark Icon" />
                <img src="images/icons/error.svg" ng-if="form.age.$touched && form.age.$invalid" class="icon error" alt="Error Icon" />
                <div ng-if="form.age.$touched && form.age.$invalid" ng-messages='form.age.$error' class='error-messages'>
                    <span ng-message='required' class="error-msg">How old is the person?</span>
                    <span ng-message='maxlength' class="error-msg">Please enter as a number with max. 3 digits</span>
                </div>
            </li>

            <li class="hometown input-group">
                <label for="hometown">Hometown</label>
                <input id="hometown" name="hometown" type="text" ng-model="vm.refugee.homeTown" placeholder="Aleppo" required autocomplete="off" />
                <img src="images/icons/checkmark.svg" ng-if="form.hometown.$valid" class="icon checkmark" alt="Checkmark Icon" />
                <img src="images/icons/error.svg" ng-if="form.hometown.$touched && form.hometown.$invalid" class="icon error" alt="Error Icon" />
                <div ng-if="form.hometown.$touched && form.hometown.$invalid" ng-messages='form.hometown.$error' class='error-messages'>
                    <span ng-message='required' class="error-msg">What's the person's home town? If not known, just write 'Unknown'.</span>
                </div>
            </li>

            <li class="country input-group">
                <label for="country">Home Country</label>
                <input id="country" name="homecountry" type="text" ng-model="vm.refugee.homeCountry" placeholder="Syria" required autocomplete="off" />
                <img src="images/icons/checkmark.svg" ng-if="form.homecountry.$valid" class="icon checkmark" alt="Checkmark Icon" />
                <img src="images/icons/error.svg" ng-if="form.homecountry.$touched && form.homecountry.$invalid" class="icon error" alt="Error Icon" />
                <div ng-if="form.homecountry.$touched && form.homecountry.$invalid" ng-messages='form.homecountry.$error' class='error-messages'>
                    <span ng-message='required' class="error-msg">What's the person's home country?</span>
                </div>
            </li>

            <li class="current-city input-group">
                <label for="current-city">Current City</label>
                <input id="current-city" name="currentcity" type="text" ng-model="vm.refugee.currentCity" placeholder="Berlin" required autocomplete="off" />
                <img src="images/icons/checkmark.svg" ng-if="form.currentcity.$valid" class="icon checkmark" alt="Checkmark Icon" />
                <img src="images/icons/error.svg" ng-if="form.currentcity.$touched && form.currentcity.$invalid" class="icon error" alt="Error Icon" />
                <div ng-if="form.currentcity.$touched && form.currentcity.$invalid" ng-messages='form.currentcity.$error' class='error-messages'>
                    <span ng-message='required' class="error-msg">What's the person's current city of residence?</span>
                </div>
            </li>

            <li class="current-country input-group">
                <label for="current-country">Current Country</label>
                <input id="current-country" name="currentcountry" type="text" ng-model="vm.refugee.currentCountry" placeholder="Germany" required autocomplete="off" />
                <img src="images/icons/checkmark.svg" ng-if="form.currentcountry.$valid" class="icon checkmark" alt="Checkmark Icon" />
                <img src="images/icons/error.svg" ng-if="form.currentcountry.$touched && form.currentcountry.$invalid" class="icon error" alt="Error Icon" />
                <div ng-if="form.currentcountry.$touched && form.currentcountry.$invalid" ng-messages='form.currentcountry.$error' class='error-messages'>
                    <span ng-message='required' class="error-msg">What's the person's current country of residence?</span>
                </div>
            </li>

            <li class="who-are-you input-group textarea">
                <label for="who-are-you">Who are you?</label>
                <textarea msd-elastic id="who-are-you" name="whoareyou" rows="4" ng-model="vm.refugee.story.whoAreYou" placeholder="I was born and raised in Aleppo, a big city in North-West Syria where I've lived my entire live. After high school I met my husband and…" required></textarea>
                <img src="images/icons/checkmark.svg" ng-if="form.whoareyou.$valid" class="icon checkmark" alt="Checkmark Icon" />
                <img src="images/icons/error.svg" ng-if="form.whoareyou.$touched && form.whoareyou.$invalid" class="icon error" alt="Error Icon" />
                <div ng-if="form.whoareyou.$touched && form.whoareyou.$invalid" ng-messages='form.whoareyou.$error' class='error-messages'>
                    <span ng-message='required' class="error-msg">Please provide some background information about the person</span>
                </div>
            </li>

            <li class="why-did-you-leave input-group textarea">
                <label for="why-did-you-leave">Why did you leave?</label>
                <textarea msd-elastic id="why-did-you-leave" name="whydidyouleave" rows="4" ng-model="vm.refugee.story.whyDidYouLeave" placeholder="The war began, and everything changed. At first we didn't think it would affect us, but then one day…" required></textarea>
                <img src="images/icons/checkmark.svg" ng-if="form.whydidyouleave.$valid" class="icon checkmark" alt="Checkmark Icon" />
                <img src="images/icons/error.svg" ng-if="form.whydidyouleave.$touched && form.whydidyouleave.$invalid" class="icon error" alt="Error Icon" />
                <div ng-if="form.whydidyouleave.$touched && form.whydidyouleave.$invalid" ng-messages='form.whydidyouleave.$error' class='error-messages'>
                    <span ng-message='required' class="error-msg">Why did the person have to leave his or her home country?</span>
                </div>
            </li>

            <li class="how-did-you-travel input-group textarea">
                <label for="how-did-you-travel">How did you travel?</label>
                <textarea msd-elastic id="how-did-you-travel" name="howdidyoutravel" rows="4" ng-model="vm.refugee.story.howDidYouTravel" placeholder="We escaped town and found our way to a convoy of cars all going in the same direction. We arrived at the border town and paid a group of people to…" required></textarea>
                <img src="images/icons/checkmark.svg" ng-if="form.howdidyoutravel.$valid" class="icon checkmark" alt="Checkmark Icon" />
                <img src="images/icons/error.svg" ng-if="form.howdidyoutravel.$touched && form.howdidyoutravel.$invalid" class="icon error" alt="Error Icon" />
                <div ng-if="form.howdidyoutravel.$touched && form.howdidyoutravel.$invalid" ng-messages='form.howdidyoutravel.$error' class='error-messages'>
                    <span ng-message='required' class="error-msg">How did the person get to his or her current country of residence? Which route did they take? How long was the trip?</span>
                </div>
            </li>

            <li class="what-do-you-wish-for input-group textarea">
                <label for="what-do-you-wish-for">What do you wish for?</label>
                <textarea msd-elastic id="what-do-you-wish-for" name="whatdoyouwishfor" rows="4" ng-model="vm.refugee.story.whatDoYouWishFor" placeholder="I hope that one day I will be reunited with my husband, and we will have the third child we always wanted... a boy. I want peace for Syria, and…" required></textarea>
                <img src="images/icons/checkmark.svg" ng-if="form.whatdoyouwishfor.$valid" class="icon checkmark" alt="Checkmark Icon" />
                <img src="images/icons/error.svg" ng-if="form.whatdoyouwishfor.$touched && form.whatdoyouwishfor.$invalid" class="icon error" alt="Error Icon" />
                <div ng-if="form.whatdoyouwishfor.$touched && form.whatdoyouwishfor.$invalid" ng-messages='form.whatdoyouwishfor.$error' class='error-messages'>
                    <span ng-message='required' class="error-msg">What does this person wish for in the future?</span>
                </div>
            </li>

            <li class="input-group"><button ng-click="vm.onSubmit()" type="submit" ng-disabled="form.$invalid" class="call-to-action">Submit</button></li>
        </ul>
    </form>
</section>
